.App {
  text-align: center;
  background-color: #FF99CC;
  height: 100vh;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-top: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 45s linear;
  }
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
  color: white;
}

.App-link {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 42px;
  /* color: #61dafb; */
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
